form {
    width: 100%;
    height: 21.9375rem;
    padding: 2rem 1.5313rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border: 1px solid var(--grey-2);
    border-radius: 0.25rem;
}

.transaction_description {
    width: 100%;
    height: max-content;

    display: flex;
    align-items: left;
    flex-direction: column;
}

label {
    color: #212529;

    font-size: .75rem;
    font-weight: 400;
}

textarea, input, select {
    background-color: #F8F9FA;

    border: none;
    border-radius: 0.5rem;

    padding: .8462rem 1rem; 
}

textarea:focus, input:focus, select:focus {
    outline: unset; 
}

textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;

    height: 3.3rem;
    min-height: 3.3rem;
    max-height: 3.3rem;

    margin-top: .75rem
}

textarea::placeholder {

    font-size: 1rem;
    font-weight: 400;

    color: #868E96;
}

.transaction_description p {
    color: #868E96;

    font-size: .75rem;
    font-weight: 400;

    margin: .275rem 0 1.0625rem 0;
}

.transaction_info {
    width: 100%;
    height: 4.375rem;

    gap: 10%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.transaction_value{
    width: 8rem;
    height: 100%;

    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: space-between;
}

.transaction_value div {
    width: 100%;
    height: 3rem; 

    display: flex;
    align-items: center;
    flex-direction: row;
    
}

.transaction_value input {
    width: 100%;
    height: 100%;

    border-radius: 0.5rem 0 0 0.5rem;
}

.transaction_value span {
    width: fit-content;
    height: 100%;
    padding-right: 1rem;

    color: var(--grey-3);
    font-size: 1rem;
    font-weight: 400;

    display: flex;
    align-items: center;

    border-radius:  0 0.5rem 0.5rem 0;

    background-color: #F8F9FA;
}

.transaction_type {
    width: 9.375rem;
    height: 100%;

    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: space-between;
}

select:hover {
    cursor: pointer;
}

button {
    width: 100%;
    height: 3rem;

    background-color: var(--color-primary);

    border: none;
    border-radius: .5rem;

    color: white;
    font-size: 16px;
    font-weight: 500;
}

button:hover {
    cursor: pointer;
    background-color: var(--color-primary-2);
}