.buttonHome {
    width: 4rem;
    height: 2.5rem;
  
    border: none;
    border-radius: 0.5rem;
  
    font-size: .875rem;
    font-weight: 600;
  
    color: var(--grey-3);
    background-color: var(--grey-2);
}
  
.buttonHome:hover {
    cursor: pointer;
  
    color: white;
    background-color: var(--color-primary);
}