:root {
    --color-primary:    #FD377E;
    --color-primary-2:  #E34981;
    --color-secondary:  #03B898;

    --grey-1: #F8F9FA;
    --grey-2: #E9ECEF ;
    --grey-3: #343A40;
    --grey-4: #212529;
}